<!-- requires user -->
<div class="row my-2">
    <div class="col-1 id">
        <%- user.userId %>
    </div>
    <div class="col-3 firstName">
        <%- user.firstName %>
    </div>
    <div class="col-3 lastName">
        <%- user.lastName %>
    </div>
    <div class="col-3 email">
        <%- user.email %>
    </div>
    <div class="col-2 grade">
        <%- user.grade %>
    </div>
</div>
