<!-- requires courseName, courseId, users, assignments -->
<div class="jumbotron">
    <h1><%=courseName%></h1>

    <div class="container">
        <div class="mb-5 border-bottom border-5">
            <div class="row">
                <div class="col-2">
                    Course Id
                </div>
                <div class="col-2">
                    Group
                </div>
                <div class="col-2">
                    Start
                </div>
                <div class="col-2">
                    End
                </div>
            </div>
            <div class="row my-2 fw-bold">
                <div class="col-2">
                    <%- course.id  %>
                </div>
                <div class="col-2">
                    <%- groupName %> (<%- course.groupId %>)
                </div>
                <div class="col-2">
                    <%= course.startTime %>
                </div>
                <div class="col-2">
                    <%= course.endTime %>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-2">
                    Course Number
                </div>
                <div class="col-2">
                    Semester
                </div>
                <div class="col-2">
                    Course Name
                </div>
            </div>
            <div class="row mb-5 fw-bold">
                <div class="col-2">
                    <%=course.courseNumber%>
                </div>
                <div class="col-2">
                    <%=semester.season%>-<%=semester.year%> (<%- course.semesterId %>)
                </div>
                <div class="col-2">
                    <%=course.courseName%>
                </div>
            </div>
        </div>
    </div>


    <h3>New Date</h3>
    <div class="container">
        <div class="row  mb-5">
            <div class="col-3">
                <input class="form-control my-2" type="datetime-local" id="new-date" name="new-date">
            </div>
            <div class="col-1">
                <button type="button" id="submit" class="btn btn-primary form-control my-2">Add</button>
            </div>
        </div>
    </div>


    <h3>Course Dates</h3>
    <div class="container">
        <div class="row">
            <% courseDates.forEach((courseDate, index) => { %>
                <div class="col">
                    <%= courseDate.toDateString() %>
                    <button type="button" id="del-<%=courseDate.valueOf()%>" class="btn-del btn btn-primary btn-sm my-2">&#x2715</button>
                </div>
                <% if ((index + 1) % 3 == 0) { %>
                    </div>
                    <div class="row">
                <% } %>
            <% }) %>
        </div>
    </div>
    
</div>

<script>
    $('.btn-del').click((e) => {
        const date = parseInt(e.target.id.split('-')[1])
        res = confirm("delete date?");
        if (!res) return;
        $.ajax({
            url: `/admin/courses/<%= courseId %>/date`,
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify({ date }),
            success: function(response) {
                location.reload();
            },
            error: function(response) {
                $('#toastHeader').html("Error");
                $('#toastBody').html(response);
                $('#liveToast').toast('show');
            }
        });
    })

    $('#submit').click(() => {
        var newDate = $('#new-date').val()
        var meeting = new Date(newDate);
        data = { date: meeting.valueOf()}
        $.post(`/admin/courses/<%= courseId %>/date`,
            data,
            function( data ) {
                window.location.reload();
            }
        ).fail( function(data) {
            $('#toastHeader').html("Error");
            $('#toastBody').html("Announcement creation error");
            $('#liveToast').toast('show');
        });
    })
</script>
