<!-- requires courseName, courseId, users, assignments -->
<div class="jumbotron">
    <h1><%=courseName%></h1>

    <div class="container text-center" id='calendar-container'>
        <div class="row justify-content-lg-center">
            <div class="col col-lg-7">
                <%-calendar%>
              </div>
        </div>
    </div>

    <a class="btn btn-primary" data-bs-toggle="collapse" href="#users-collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
        Users
    </a>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#assignments-collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
        Assignments
    </a>
    <div class="collapse" id="users-collapse">
        <div class="container alternating-table" id="users">
            <% users.forEach(user => { %>
                <%- user %>
            <% }) %>
        </div>
        <h5>Add User(s)</h5>
        <form id="bulk-add-form" action="/admin/users/add" method="POST">
            <textarea class="form-control my-2" name="text" id="bulk-add-area" placeholder="Add Users&#10;Email|FirstName|LastName|Role1,Role2|Group1,Group2" aria-label="Email" aria-describedby="basic-addon1"></textarea>
            <button type="submit" id="bulk-add-btn" class="btn btn-primary my-2">Submit</button>
        </form>
        <h5>Sign In User(s)</h5>
        <button type="submit" id="bulk-sign-in-btn" value="<%=courseId%>" class="btn btn-primary my-2">Sign In</button>
    </div>
    <div class="collapse" id="assignments-collapse">
        <%-assignments%>
    </div>
</div>

<script>
    $('#bulk-sign-in-btn').click((e) => {
        var userIds = []
        $('.userc:checkbox:checked').each(function() {userIds.push(this.value)})

        $.post(`/admin/courses/${e.target.value}/signin`, {userIds}, function( data ) {
            if (data) {
                console.log(data);
            }
            else
                console.log('no')
        })
    })

    const editField = (e) => {
        e.target.readOnly = false;
        // e.target.removeAttribute('readonly')
    }

    const doneEditField = (e) => {
        e.target.readOnly = true;
    }

    const saveChanges = (e, id) => {
        const title = $(`#assignment-title-${id}`).val();
        const start = $(`#assignment-start-${id}`).val();
        const end = $(`#assignment-end-${id}`).val();
        const url = $(`#assignment-url-${id}`).val();
        $.ajax({
            url: `/admin/courses/${id}/assignments`,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({ title, start, end, url }),
            success: function( data ) {
            if (data) {
                console.log('ok')
                // window.location.reload();
            } else {
                console.log('nope')
            }}
        })
    }

    const signIn = (e) => {
        $.post(`/admin/users/${e.target.value}/signin`, function( data ) {
            if (data) {
                e.target.disabled = true;
            }
            else
                console.log('no')
        })
    }

    const rowClick = (e, userId) => {
        window.location.href=`/admin/users/${userId}`;
    }

    const remove = (e) => {
        $.ajax({
            url: `/admin/courses/<%=courseId%>/${e.target.value}`,
            type: 'DELETE',
            success: function(response) {
                window.location.reload();
            },
            error: function(response) {
                console.log(response);
            }
        });
    }
</script>
