<div class="jumbotron">
    <h1>Users</h1>
    <select class="form-select my-2" id="filter-class-select" aria-label="Default select section">
        <option selected>Select Course</option>
        <% courses.forEach(course => { %>
            <option value="<%=course%>"><%=course%></option>
        <% }) %>
    </select>

    <div class="container alternating-table users" id="users">
        <% users.forEach(user => { %>
            <%- user %>
        <% }) %>
    </div>
    <select class="form-select my-2" id="add-class-select" aria-label="Default select section">
        <option selected>Select Course</option>
        <% courses.forEach(course => { %>
            <option value="<%=course%>"><%=course%></option>
        <% }) %>
    </select>
    <button type="submit" id="add-class-btn" class="btn btn-primary form-control my-2">Add Users To Course</button>
    <form id="bulk-add-form" action="/admin/users/add" method="POST">
        <textarea class="form-control my-2" name="text" id="bulk-add-area" placeholder="Add Users&#10;Email, FirstName, LastName, ['Roles'], ['Groups']" aria-label="Email" aria-describedby="basic-addon1"></textarea>
        <button type="submit" id="bulk-add-btn" class="btn btn-primary form-control my-2">Add New Users</button>
    </form>
</div>

<script>
    $('#add-class-btn').click(function() {
        var course = $('#add-class-select').find(":selected").text()
        var userIds = []
        $('.userc:checkbox:checked').each(function() {userIds.push(this.value)})
        $.post(`/admin/courses/${course}/users`, { userIds }, function( data ) {
            if (data) {
                window.location.href=`/admin/courses/${course}`;
            } else {
                console.log('nope')
            }
        })

    })

    $('#filter-class-select').change(function(e) {
        const course = e.target.value;
        if (course == 'Select Course') return;
        window.location.href=`/admin/courses/${course}`;
    })

    const signIn = (e) => {
        $.post(`/admin/user/${e.target.value}/signin`, function( data ) {
            if (data) {
                e.target.disabled = true;
            }
            else
                console.log('no')
        })
    }

    const rowClick = (e, userId) => {
        window.location.href=`/admin/user/${userId}`;
    }

    const remove = (e) => {
        $.ajax({
            url: `/admin/user/${e.target.value}`,
            type: 'DELETE',
            success: function(response) {
                window.location.reload();
            },
            error: function(response) {
                console.log(response);
            }
        });
    }
</script>
