<div class="jumbotron">
    <h1><%- profile.email %></h1>
</div>

<div class="my-2">
    <% attendance.forEach(c => { %>
        <span class="fs-5"><%= c.course.courseNumber%>-<%= c.course.startTime%> - absences: </span><span class="fs-5 fw-bold"><%=c.absent%></span><br>
    <% }) %>
</div>

<div class="container">
    <div class="row" id="<%- profile.id %>">
        <div class="col-6 col-lg-4">
            <input class="form-control my-2" type="text" id="firstName" readonly onfocus='editField(event)' onfocusout='doneEditField(event)' value="<%- profile.firstName %>">
        </div>
        <div class="col-6 col-lg-4">
            <input class="form-control my-2" type="text" id="lastName" readonly onfocus='editField(event)' onfocusout='doneEditField(event)' value="<%- profile.lastName %>">
        </div>
        <div class="col-9 col-lg-4">
            <input class="form-control my-2" type="text" id="roles" readonly onfocus='editField(event)' onfocusout='doneEditField(event)' value="<%- profile.roles %>">
        </div>
        <label>Groups</label>
        <div class="row groupList align-items-center">
            <div class="col-3">
                <select class="form-select" size="<%=allGroups.length > 10 ? 10 : allGroups.length %>" name="groups" id="groups" multiple>
                    <% allGroups.forEach(group => { %>
                        <option value="<%=group.id%>" 
                            <% if (profile.groups.some(userGroup => userGroup.id == group.id)) {%>
                            selected 
                            <% } %>
                        >
                            <%=group.name%>
                        </option>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>
    <button type="submit" id="submit" class="btn btn-primary my-2 mb-4" onclick="saveChanges(event, <%- profile.id %>)">Submit</button>
    <button type="submit" id="cancel" class="btn btn-primary my-2 mb-4" onclick="location.reload()">Cancel</button>
</div>

<%- calendar %>

<script>
    const saveChanges = (event, userId) => {
        const email = <%- JSON.stringify(profile.email) %>;
        const firstName = $('#firstName').val()
        const lastName = $('#lastName').val()
        const roles = $('#roles').val()
        const groups = $('#groups').val()
        $.ajax({
            url: `/admin/users/${userId}`,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({ firstName, lastName, roles, groups, email }),
            success: function( data ) {
                var toastHeader = 'Fail'
                var toastBody = 'Error with request'
                if (data) {
                    toastHeader = 'Success'
                    toastBody = 'User updated successfully'
                }
                $('#toastHeader').html(toastHeader);
                $('#toastBody').html(toastBody);
                $('#liveToast').toast('show');
            }
        })
    }

    const editField = (e) => {
        e.target.readOnly = false;
        // e.target.removeAttribute('readonly')
    }

    const doneEditField = (e) => {
        e.target.readOnly = true;
    }
</script>
