<!-- requires courses list {id, courseNumber}, users, addForm -->
<div class="jumbotron">
    <table>
        <tr>
            <td class="px-3">
                <h1 style="display:inline;">Users</h1> (<%- userCount %>)
            </td>
            <td>
                <select class="form-select my-2" id="group-select" aria-label="Default select section">
                    <option selected>Select Group</option>
                    <% groups.forEach(group => { %>
                        <% if (group.selected) { %>
                            <option selected value="<%=group.id%>"><%=group.name%></option>
                        <% } else { %>
                            <option value="<%=group.id%>"><%=group.name%></option>
                        <% } %>
                    <% }) %>
                </select>
            </td>
        </tr>
    </table>
    <a href="/admin/users/groups">Groups</a>

    <%- usersList %>

</div>

<script>
    $('#add-class-btn').click(function() {
        var courseId = $('#course-select').val()
        var userIds = []
        $('.userc:checkbox:checked').each(function() {userIds.push(this.value)})
        $.post(`/admin/courses/${courseId}/users`, { userIds }, function( data ) {
            if (data) {
                window.location.href=`/admin/courses/${courseId}`;
            } else {
                console.log('nope')
            }
        })
    })

    $('#group-select').change(function(e) {
        const group = e.target.value;
        if (group == 'Select Group') return;
        window.location.href=`/admin/users?groupId=${group}`;
    })
</script>
