<div class="jumbotron">
    <h1><%= assessment.name %></h1>

    <a class="" data-bs-toggle="collapse" href="#description-collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
        Instructions
    </a>

    <div class="collapse" id="description-collapse">
        <div class="container">
            <%- assessment.description %>
        </div>
    </div>

    <div class="container">
        <% questions.forEach(question => { %>
            <div class="row my-4">
                <div class="col">
                        <div class='link' id='/assessment/<%= assessment.assessmentId %>/<%= question.questionId %>'>
                            <h5><span class="text-decoration-underline text-primary" style="cursor: pointer;"><%= question.title %></span></h5>
                        </div>
                        <div class="ms-4">
                            <%= question.description %>
                        </div>
                    </div>
            </div>
        <% }) %>
    </div>
</div>

<script>
    $('.link').click( (e) => {
        var url = e.currentTarget.id;
        $.get(url,
            function( data ) {
                $('#page').html(data.page);
            }
        ).fail( function(data) {
            $('#toastHeader').html("Error");
            $('#toastBody').html("Announcement creation error");
            $('#liveToast').toast('show');
        });
    })
</script>
