<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>

</head>

<body class="container">
    <%- include('partials/header'); %>
    <div id="alert-box">
        <% if (locals.alert) {%>
        <% alert.forEach(a => { %>
        <div class="alert alert-<%- a.type %>" role="alert">
            <%- a.message %>
        </div>
        <% }) %>
        <% } %>
    </div>
    <main class="shadow p-3">
        <%- body %>
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto" id="toastHeader"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastBody"></div>
        </div>
    </div>

</body>

</html>