<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>

</head>

<body class="container">
    <%- include('partials/header'); %>
    <div id="alert-box">
        <% if (locals.alert) {%>
        <% alert.forEach(a => { %>
        <div class="alert alert-<%- a.type %>" role="alert">
            <%- a.message %>
        </div>
        <% }) %>
        <% } %>
    </div>
    <main>
        <%- body %>
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

</body>

</html>