<!-- requires course, external func viewCourse(event, course group), external func deleteCourse(event) -->
<div class="row my-2">
    <div class="col-10 course" onclick="viewCourse(event, '<%=course.id%>')">
        <div class="row">
            <div class="col-3">
                <%- course.courseNumber %>
            </div>
            <div class="col-3">
                <%- course.semester %>
            </div>
            <div class="col">
                <%- course.courseYear %>
            </div>
            <div class="col-3">
                <%- course.startTime %>
            </div>
        </div>
    </div>
    <div class="col">
        <button type="button" value=<%- course.id %> onclick="deleteCourse(event)" id="course-<%- course.id %>" class="btn btn-primary delete form-control">Delete</button>
    </div>
</div>
