<!-- requires user, type [Delete/Remove], external func rowClick(event, userId), external func signIn(event), external func remove(event) -->
<div class="row my-2">
    <div class="col">
        <input class="form-check-input userc" type="checkbox" value="<%- user.id %>">
    </div>
    <div class="col-9 user" onclick="rowClick(event, <%- user.id %>)">
            <div class="row">
                <div class="col-3">
                    <%- user.first_name %>
                </div>
                <div class="col-3">
                    <%- user.last_name %>
                </div>
                <div class="col">
                    <%- user.email %>
                </div>
            </div>
        </div>
    <div class="col">
        <button type="button" value=<%- user.id %> onclick="signIn(event)" id="sign-in-<%- user.id %>" class="btn btn-primary signin form-control">Sign In</button>
    </div>
    <div class="col">
        <button type="button" value=<%- user.id %> onclick="remove(event)" id="<%=type%>-<%- user.id %>" class="btn btn-primary form-control"><%=type%></button>
    </div>
</div>
