<div class="row my-2" id="user-<%- user.id %>">
    <div class="col">
        <input class="form-control" type="text" placeholder=<%- user.first_name %> aria-label="Disabled input example" disabled>
    </div>
    <div class="col">
        <input class="form-control" type="text" placeholder=<%- user.last_name %> aria-label="Disabled input example" disabled>
    </div>
    <div class="col">
        <input class="form-control" type="text" placeholder=<%- user.email %> aria-label="Disabled input example" disabled>
    </div>
    <div class="col">
        <button type="button" value=<%- user.id %> id="sign-in-<%- user.id %>" class="btn btn-primary signin">View</button>
        <button type="button" value=<%- user.id %> id="sign-in-<%- user.id %>" class="btn btn-primary signin">Edit</button>
        <button type="button" value=<%- user.id %> id="sign-in-<%- user.id %>" class="btn btn-primary signin">Sign In</button>
    </div>
</div>
